.formView{
  background-color: #fff;
  margin-top: 15px;
  border-radius: 1px;
  min-width: 1000px;

  & .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 12px 20px;
    border-bottom: 1px solid #eee;

    & .title{
      color: @primary-color;
      font-size: 15px;

      & .icon{
        margin-right: 5px;
      }
    }

    & .reback{
      cursor: pointer;
    }
  }

  & .form{
    padding:30px 40px 20px;
    box-sizing: border-box;
  }

  .ant-row{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    & .ant-form-item-label{
      line-height: 34px;
      padding-right: 5px;
    }

    & .ant-form-item-control-wrapper{
      flex: 1;
      width: 100%;
    }
  }

  .btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  & .textItem{
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
  }

  .ant-input-number{
    width: 100% !important;
  }
}