.listView{
  padding: 10px;

  /deep/ .ant-menu{
    background: transparent;
    width: auto;
    border: 0;
    line-height: 30px;
  }

  .top-view{
    display: flex;
    justify-content: space-between;
  }
}